<div id="control-wrapper" class="panel">
    <!-- TODO Sliders that allow minimum and maximum selected value-->
    <div><span>Price: </span><span id="price-display"></span>
        <div class="slider-range" id="slider-price"></div>
    </div>
    <div><span>Room Size: </span><span id="size-display"></span>
        <div class="slider-range" id="slider-size"></div>
    </div>
    <div><span>Rating: </span><span id="rating-display"></span>
        <div class="slider-range" id="slider-rating"></div>
    </div>

    <!-- Room type -->

    <button class="collapsible" id="rooms">Rooms</button>
    <div class="content">
        <span>Room Types:</span>
        {% for room_type in room_types_all %}
            <!-- TODO utilise django to get all room types into check boxes -->
            <div><input type="checkbox" name="room-type" checked="checked"
                        onchange="update_map()" value="{{room_type.id}}"><span>{{ room_type }}</span></div>
        {% endfor %}
    </div>

    <button class="collapsible" id="facilities">Facilities</button>
    <div class="content">
        {% for facility in facilities_all %}
            <div><input type="checkbox" checked="checked" onchange="update_map()" value="{{facility.id}}"><span>{{ facility }}</span>
            </div>
        {% endfor %}
    </div>


    <button class="collapsible" id="policies">Policies</button>
    <div class="content">
        {% for policy in policies_all %}
            <div><input type="checkbox" checked="checked" onchange="update_map()" value="{{policy.id}}"><span>{{ policy }}</span>
            </div>
        {% endfor %}
    </div>

</div>