{% load static %}

<div class="col-md-2 accordion p-0">

    <div><span>Price: </span><span id="price-display"></span>
        <div class="slider-range" id="slider-price"></div>
    </div>

    <div><span>Rating: </span><span id="rating-display"></span>
        <div class="slider-range" id="slider-rating"></div>
    </div>


    <button class="btn collapsed w-100 btn-outline-dark btn-lg" data-toggle="collapse" data-target="#collapseRooms" id="rooms">Rooms</button>
    <div class="collapse p-3" id="collapseRooms">
        <span>Room Types:</span>
        {% for room_type in room_types_all %}
            <div><label>
                <input type="checkbox" name="room_type" checked="checked"
                       onchange="getLocations()" value="{{ room_type.id }}">{{ room_type.type }}
            </label></div>
        {% endfor %}
        <span>Room Size: </span><span id="size-display"></span>
        <div class="slider-range" id="slider-size"></div>
    </div>

    <button class="btn collapsed w-100 btn-outline-dark btn-lg" data-toggle="collapse" data-target="#collapseFacilities" id="facilities">Facilities</button>
    <div class="collapse p-3" id="collapseFacilities">
        {% for facility in facilities_all %}
            <div><label>
                <input type="checkbox" onchange="getLocations()" value="{{ facility.id }}"
                       name="facility">{{ facility.facility }}
            </label>
            </div>
        {% endfor %}
    </div>


    <button class="btn collapsed w-100 btn-outline-dark btn-lg" data-toggle="collapse" data-target="#collapsePolicies" id="policies">Policies</button>
    <div class="collapse p-3" id="collapsePolicies">
        {% for policy in policies_all %}
            <div><label>
                <input type="checkbox" checked="checked" onchange="getLocations()" value="{{ policy.id }}"
                       name="policy"> {{ policy.policy }}
            </label>
            </div>
        {% endfor %}
    </div>
</div>
<script>

</script>




